<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Face Matcher</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" /> <!-- CSS -->
        <script src="{% static "js/jquery.js" %}"></script> <!-- JavaScript -->
    </head>

    <body>
        <h1>Selfie Dog says...</h1>
        Welcome to the about page <strong>{{ boldmessage }}</strong><br />
        <a href="/face_matcher/">index</a><br />

        <img src="{% static "images/dog.png" %}" alt="Picture of Dog" />
    </body>

</html>
