<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head>
        <title>Face Matcher</title>
    </head>

    <body>
        <h1>Face Matcher Uploads...</h1>
        <a href="/about/">About</a>

        {% if faces %}
            <ul>
                {% for face in faces %}
                <li>{{ face.actor.name }} | {{ face.actor.gender }}
                  <div>
                    <img src="{{ face.url }}" />
                  </div>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no faces present.</strong>
        {% endif %}


    </body>
</html>
