.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.progress {
    margin: 5px 0 0 0;
}

.history-item img {
    max-height: 150px;
}