.tooltip-options {
    visibility: hidden;
}

@media (min-width: 1200px) {

    .tooltip-options {
        position: absolute;
        right: -15%;
        top: 75%;
    }

    .tooltip-options:after {
        content: '';
        position: absolute;
        top: 8%;
        right: 99%;
        width: 0;
        height: 0;
        border-right: 20px solid #f5f5f5;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
}

.slider {
    width: auto;
}

.slider > .dragger {
    background: #f05f40;
    background: -webkit-linear-gradient(top, #f05f40, #f05f40);
    background: -moz-linear-gradient(top, #f05f40, #f05f40);
    background: linear-gradient(top, #f05f40, #f05f40);

    -webkit-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 2px 8px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 2px 8px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 2px rgba(255, 255, 255, 0.5), 0 2px 8px rgba(0, 0, 0, 0.2);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    border: 1px solid #f05f40;
    width: 16px;
    height: 16px;
}

.slider > .dragger:hover {
    background: -webkit-linear-gradient(top, #f05f40, #f05f40);
}

.output {
    font-weight: bold;
}

.fileinput .btn.btn-file {
    margin: 10px;
}

.settings-gear {
    cursor: pointer;
    position: relative;
    top: 4px;
}

.search-buttons .active {
    border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}