<section id="contact" class="{{ block_class }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="light">
        <hr class="primary">
      </div>

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i><br><br>
      </div>
      <div align="center">
        <table align="right" style="width:69%">
          <tr>
            <td><font size="3.5">Anthony Troy</font></td>
            <td><a href="mailto:your-email@your-domain.com"> <font color="#333"><font size="3.5">anthony.troy3@mail.dcu.ie</font></a>
            </td>
          </tr>
          <tr>
            <td><font size="3.5">Marcelo Grossi</b></font></td>
            <td><a href="mailto:your-email@your-domain.com"> <font color="#333"><font size="3.5">marcelo.grossi2@mail.dcu.ie</b></font></a>
            </td>
          </tr>
          <tr>
            <td><font size="3.5">Sultan Altowerqi</font></td>
            <td><a href="mailto:your-email@your-domain.com"> <font color="#333"><font size="3.5" al>sultan.altowerqi2@mail.dcu.ie</font></a>
            </td>
          </tr>
          <tr>
            <td><font size="3.5">Xuan Yang</font></td>
            <td><a href="mailto:your-email@your-domain.com"> <font color="#333"><font
                size="3.5">xuan.yang4@mail.dcu.ie</font></a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>


<!-- &nbsp; -->
<!-- <a href="mailto:your-email@your-domain.com"> <font color="#333">face-matcher@mail.dcu.ie</font></a> -->