<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand page-scroll" href="{{ prefix }}#page-top">CA675 Project</a>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a class="page-scroll" href="{{ prefix }}#about">About</a>
    </li>
    <li>
      <a class="page-scroll" href="{{ prefix }}#contact">Contact</a>
    </li>
    {% if user.is_authenticated %}
      <li>
        <a class="page-scroll" href="{% url 'face_matcher:faces' %}">{{ user.username }}</a>
      </li>
      <li>
        <a class="page-scroll" href="{% url 'logout' %}">Log Out</a>
      </li>
    {% else %}
      <li>
        <a class="page-scroll" href="{{ prefix }}#user">Sign In</a>
      </li>
    {% endif %}

  </ul>
</div>
